*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    display: flex;
}
.black-section{
    background-color: rgb(77, 71, 71);
    color: aliceblue;
}
.black-section p{
    opacity: 0.5;
}
.nav{
    line-height: 30px;
    padding: 50px;
}
.nav img{
    width: 50%;
}

#mic{
    display: flex;
    justify-content: space-around;
    color: rgb(125, 117, 70);
    padding:5px ;
}

#mic div img{
    width: 30px;
    padding: 5px;
}
.white-section{
    color: rgb(125, 117, 70);
   justify-content: space-around;
   padding: 50px;
}
.school{
    color: rgb(125, 117, 70);
}
.master{
    justify-content: space-around;
}




